body {
    margin: 0;
    text-align: center;
}

#main-body {
    max-width: 550px;
    height: 729px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #f4f4f4;
}

#upper-body {
    background-color: #6943FF;
    max-height: 285px;
}

h1 {
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 28px;
    color: white;
    line-height: 38px;
    letter-spacing: -3%;
    padding-top: 10px;
}

input {
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 2px;
    background-color: #6943FF;
    font-weight: 800;
    font-style: Extra Bold;
    color: white;
    font-size: 58px;
    text-align: center;


}

button {
    background-color: #FFFFFF;
    width: 117px;
    height: 42px;
    border: 5px solid #FFFFFF;
    border-radius: 5px;
    font: Inter;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text {
    background-color: white;
    width: 500px;
    height: 109px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px
}

.unit {
    color: #5A537B;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 30px;
}

.output {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #353535;
    padding-top: 20px;
}